
<div ng-controller="ArticleCreateCtrl">
	
<h3>Add Article</h3>
<form ng-submit=addArticle()>
  <div class="form-group">
    <label >Article Title</label>
    <input type="text" class="form-control" ng-model="title" name="title" id="exampleInputEmail1" placeholder="Enter Title">
  </div>
  <div class="form-group">
    <label >Category</label>
    <select  class="form-control" ng-model="category" name="category"  >
    	<option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>

    </select>
  </div>
  <div class="form-group">
    <label >Body Text</label>
    <textarea class="form-control" ng-model="body" name="body" placeholder="Enter description"></textarea> 
  </div>

 
  <button type="submit" class="btn btn-default">Submit</button>
  <a href="#!/categories" class="btn btn-danger">Cancel</a>
</form>
</div>